<style>
  .auth-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .sign-in-btn{
    margin-right: 10px;
  }
</style>

<%= if (current_user) { %>
<p>We logged in</p>
<a href="/signout" data-method="DELETE" class="btn btn-danger">sign out</a>
<% } else { %>
<div class="container-fluid cloudy-knoxville-gradient h-100 d-flex align-items-center justify-content-center">
  <div class="row justify-content-around">
    <div class="col-auto ">
      <!-- Default form login -->
      <form class="text-center p-5 card z-depth-3 heavy-rain-gradient" method="post" action="/signin">
        <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">

        <p class="h4 mb-4">Sign in</p>

        <!-- Username -->
        <div class="md-form">
          <input type="text" name="Email" id="email" class="form-control mb-1" required>
          <label for="email">Username</label>
        </div>
        <!-- Password -->
        <div class="md-form">
          <input type="password" name="Password" id="password" class="form-control mb-1" required>
          <label for="password">Password</label>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-primary btn-block my-4" type="submit">Sign in</button>

      </form>
      <!-- Default form login -->
    </div>
  </div>
</div>
<% } %>